body{
    background-color: #333;
    color: #777;
    background-image: url(kbb-bin.jpg);
    height: 2558px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-content{
    display: grid;
    grid-template:
        '. .  term term';
    align-items: center;
    align-content: center;
}

#term{
    display: block;
    grid-area: term;
    font-family: 'Lucida Console', 'Consolas', monospace;
    padding:25px;
    margin-top: 100px;
    height: 600px;
    width: 800px;
    background-color: #010;
    color: #391;
}

#banner{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#prompt{
    font-style: italic;
}

#desc{
    font-size: medium;
    text-wrap: none;
}
