body{
    background-color: #333;
    color: #ccc;
    background: linear-gradient(45deg, #333, #555) no-repeat right top fixed;
    font-family: 'Lucida Console' monospace;
  }
  
  header{
    background: linear-gradient(140deg, hsl(208 100% 22%), hsl(208 100% 11%)) no-repeat left top fixed;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  
  #page-name{
    left: 20px;
    padding: 5px;
    cursor: default;
  }
  
  #navbar{
    position: fixed;
    top:5px;
    right: 20px;
  }
  
  #navbar a{
    color:#ccc;
    padding: 5px;
    text-decoration: none
  }
  
  #navbar a:hover{
    color: #fff;
  }


  

  
  .socials{
    text-align: center;
    margin: 20px;
  }
  
  .socials a{
    color: hsl(208 100% 44%);
  }
  
  footer{
    background: linear-gradient(140deg, hsl(208 100% 22%), hsl(208 100% 11%)) no-repeat left top fixed;
    color: #ccc;
    position: static;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  
  #copy{
    padding: 5px;
    text-align: center;
  }
  