body{
    background-color: #333;
    color: #ccc;
    background: linear-gradient(45deg, #333, #555) no-repeat right top fixed;
    font-family: 'Lucida Console' monospace;
}

header{
    background: linear-gradient(140deg, hsl(208 100% 22%), hsl(208 100% 11%)) no-repeat left top fixed;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

#page-name{
    left: 20px;
    padding: 5px;
    cursor: default;
}

#nav{
    position: fixed;
    top:5px;
    right: 20px;
}

#nav a{
    color:#ccc;
    padding: 5px;
    text-decoration: none
}

#nav a:hover{
    color: #fff;
}


#main{
    display: grid;
    grid-template: 10vh 70vh/repeat(2, 1fr)
        'title title'
        'img-div info';
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 50px;
}

#title{
    grid-area: title;
    margin: auto;
}

#img-div{
    margin: auto;
    background: linear-gradient(140deg, hsl(208 100% 22%), hsl(208 100% 11%)) no-repeat left top fixed;
    border: solid 1px #777;
    grid-area: img-div;
    
}

#image{
    display: block;
    align-self: center;
    max-width: 25%;
    max-height: auto;
    padding: 5px;
}

#img-caption{
    margin: 5px;
    grid-area: cap;
}

#tribute-info{
    padding: 20px 100px;
    margin: auto;
    background: linear-gradient(140deg, hsl(208 100% 22%), hsl(208 100% 11%)) no-repeat left top fixed;
    border: solid 1px #777;
    grid-area: info;
}

#tribute-link{
    color: hsl(208 100% 33%);
}

#tribute-link:hover{
    color: hsl(208 100% 55%);
}

.socials{
    text-align: center;
    margin: 20px;
}
  
.socials a{
    color: hsl(208 100% 44%);
}

footer{
    background: linear-gradient(140deg, hsl(208 100% 22%), hsl(208 100% 11%)) no-repeat left top fixed;
    color: #ccc;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
}

#copy{
    padding: 5px;
    text-align: center;
}
